@font-face{
    font-family:"futura-PT";
    src:url("../font/futura/futura_medium_bt.ttf");
}
@font-face{
    font-family:"futura-PT-light";
    src:url("../font/futura/futura_light_bt.ttf");
}
body{
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(whitesmoke,rgb(205, 205, 255));
    background-size: cover;
}
.top_bar{
    background-color: darkblue;
    grid-template-columns: 84% 12% 4%; 
    margin: 0px;
    padding: 5px;
    display: grid;
    z-index: 1000;
    font-family: "futura-PT";
}
.top_div{
    color: whitesmoke;
    font-size: 36px;
    min-width: max-content;
    display: grid;
    grid-template-columns: max-content max-content;
}
.inner_top_div{
    font-size: 22px;
    max-width: max-content;
    display: inline-block;
    background-position: center;
    margin-top: 15px;
}
.web_button{
    font-size: 18px;
    max-width: max-content;
    background-color: whitesmoke;
    border-radius: 3px;
    padding:  1px;
    color: darkblue;
    background-position: center;
    margin-top: 15px;
}
.main_body{
    min-width: 100vw;
    min-height: 100vh;
    padding: 10px;
    margin-top: 50px;
}
.img_display{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 90vw;
    min-height: 100%;
    max-height: 95vh;
    min-height: 100%;
    align-self: center;
    box-shadow: 5px 5px 15px 5px rgba(245, 245, 245, 0.498);
}
@media only screen and (max-width: 1000px) {
    body{
        padding: 0px;
        margin: 0px;
        background-image: linear-gradient(whitesmoke,rgb(205, 205, 255));
        background-size: cover;
    }
    .top_bar{
        background-color: darkblue;
        grid-template-columns: 63% 12% 15%;
        margin: 0px;
        padding: 5px;
        display: grid;
        z-index: 1000;
        font-family: "futura-PT";
        min-width: 115%
    }
    .top_div{
        color: whitesmoke;
        font-size: 18px;
        min-width: max-content;
        display: block;
    }
    .inner_top_div{
        font-size: 14px;
        max-width: max-content;
        bottom: 0px;
        margin-top: 0px;
    }
    .web_button{
        font-size: 12px;
        max-width: max-content;
        background-color: whitesmoke;
        border-radius: 3px;
        padding:  1px;
        color: darkblue;
        background-position: center;
        margin-top: 15px;
    }
    .main_body{
        min-width: 100vw;
        min-height: 100vh;
        padding: 10px;
        margin-top: 50px;
    }
    .img_display{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        max-width: 90vw;
        min-height: 100%;
        max-height: 95vh;
        min-height: 100%;
        align-self: center;
        background-size: cover;
        object-fit: contain;
        box-shadow: 5px 5px 15px 5px rgba(245, 245, 245, 0.498);    
    }
}